body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

div {
    margin-bottom: 10px;
}

.contenedor {
    width: 400px;
    position: absolute;
    left: 42%;
    right: 50%;
}

#title {
    text-align: center;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

#root {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}

p {
    text-align: center;
}

.card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background: lightgray;
}

div > select .mySelect {

}